* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../image/background.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dob-box {
    background-color: #C3B4A1;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    animation: fadeIn 1s ease-out forwards;
}

.icon {
    width: 100px;
    margin-bottom: 20px;
    font-size: 50px;
}

.dob-box h2 {
    color: #333;
    margin-bottom: 20px;
}

.dob-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.dob-select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.btn {
    background-color: #ff4081;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn:hover {
    background-color: #e6007e;
    transform: scale(1.1);
}

.error-message {
    color: #ff0000;
    margin-top: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeOut {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}