* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../image/background.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-box {
    background-color: #C3B4A1;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    animation: fadeIn 1s ease-out forwards;
}

.profile-image {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.profile-image #profile-pic-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px dashed #ccc;
}

.upload-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #ff4081;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 3%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.upload-btn:hover {
    background-color: #e6007e;
    transform: scale(1.05);
}

.profile-details {
    margin-bottom: 20px;
}

.profile-input {
    width: 100%;
    padding: 12px;
    background-color: #f9f9f9;
    border: none;
    outline: none;
    color: #333;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.profile-input::placeholder {
    color: #999;
}

.phone-input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.flag-icon {
    width: 30px;
    height: 20px;
    margin-right: 10px;
}

.country-code {
    margin-right: 10px;
    width: 20%;
}

.phone {
    flex: 1;
}

.btn {
    background-color: #ff4081;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn:hover {
    background-color: #e6007e;
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeOut {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}